.flex-container > div {
    display: flex;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: #93bc47 20px solid;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  color: #93bc47;
  justify-content: center;
  align-items: center;
}
